{{#if message}}
<div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>{{message.intro}}: </strong> {{message.message}}
</div>
{{/if}}
{{#if data}}
<div class="profile-card">
    <div class="profile-wrapper">
        <div class="profile-container">
            <div class="profile-form-group" style="text-align:start !important;width: 100% ;">
                <h2>User Profile </h2>
            </div>
            <img src="https://firebasestorage.googleapis.com/v0/b/my-netflix-f21d5.appspot.com/o/avatar-web.png?alt=media&token=84d2d35f-6487-4022-b0bf-3a2067fc92d5"
                height="45%" width="45%" alt="Jhon Doe" />
            <div class="profile-form-group " style="width: 100%;text-align:center;border:">
                <h3 type="text" style="border:none ;font-weight: bold !important;
                    font-size:20px;
                    color:#2D354A;
                    font-family: roboto;" class=" form-control" disabled name="fullname" id="fullname">
                    {{data.fullname}}</h3>
            </div>
            <div class="profile-form" method="post" action="/register" enctype="multipart/form-data">
                <div class="profile-form-container">
                    <div class="profile-form-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="number" class="profile-input form-control" disabled
                            placeholder="{{data.phone_number}}" name="phone_number" id="phone_number">
                    </div>


                    <div class="profile-form-group">
                        <label for="email">Email</label>
                        <input type="email" class="profile-input form-control" disabled placeholder="{{data.email}}"
                            name="email" id="email">
                    </div>

                    <div class="profile-form-group">
                        <label for="birthdate">Birthdate</label>
                        <input placeholder={{data.birthdate}} disabled class="form-control" type="text"
                            onfocus="(this.type='date')" id="date" name="birthdate" id="birthdate">
                    </div>

                    <div class="profile-form-group">
                        <label for="address">Address</label>
                        <textarea type="text" class="form-control" disabled placeholder="{{data.address}}"
                            name="address" id="address"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="profile-account-container">
            <div style="padding-bottom:15px;display:flex;align-items:center;justify-content:space-between"
                class=" profile-form-group">
                <h3 style="padding-right: 10%;">Account </h3>
                <div id="user_profile_status" class="profile-status alert-success" aria-placeholder="{{data.status}}"
                    role="alert">
                    {{data.status}}
                </div>
            </div>
            <div class="login-form" method="post" action="/register" enctype="multipart/form-data">
                <div class="profile-form-container">

                    <div style="width: 90% !important;" class="profile-form-group">
                        <label for="fullname">Account Balance </label>
                        <input type="number" name="account_balance" placeholder="{{data.account_balance}}"
                            id="account_balance" class="profile-input form-control" disabled>
                    </div>

                    <div style="width: 90% !important;" class="profile-form-group">
                        <label for="username">Username</label>
                        <input type="number" class="profile-input form-control" disabled placeholder="{{data.username}}"
                            name="username" id="username">
                    </div>



                    <div style="width: 100% !important;" class="profile-form-group">
                        <label for="password">Password</label>
                        <div class="profile-input-container">
                            <div style="flex:0.9">
                                <input type="password" class="profile-input form-control" disabled
                                    value="{{data.password}}" name="password" id="password">
                            </div>
                        </div>
                    </div>



                    <div class="profile-form-group">
                        <label style="padding-bottom: 10px;" for="profile-input-container">CMND mặt trước và mặt
                            sau</label>

                        <div class="profile-input-container" id="profile-input-container">
                            <div class="profile-photo-container">
                                <img src="../../../{{data.font_photoPath}}" alt="CMND mặt trước" class="img-fluid"
                                    height="120 !important">
                            </div>
                        </div>

                        <div class="profile-input-container" style="margin-top: 20px;">
                            <div class="profile-photo-container">
                                <img src="../../../{{data.back_photoPath}}" class="img-fluid" alt="CMND mặt sau"
                                    height="120">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../js/main.js"></script>
</div>
{{/if}}