{{#if data}}
<div class="container" style="padding-left: 20%; padding-right:20%;padding-top:8%">
    <h1>Thông tin User</h1>
    <form class="form" action="/public-api/users/edit/{{data.id}}" method="post">
        <div class="mb-3">
            <label for="id" class="form-label">MSSV</label>
            <input type="number" disabled class="form-control" value="{{data.mssv}}" name="id" id="id">
        </div>

        <div class="mb-3">
            <label for="fullname" class="form-label">Fullname</label>
            <input type="text" disabled class="form-control" value="{{data.fullname}}" name="fullname" id="fullname">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" disabled class=" form-control" value="{{data.username}}" name="username" id="username">
        </div>

        <div class="mb-3">
            <label for="password" disabled class="form-label">Password</label>
            <input type="password" disabled class=" form-control" value="{{data.password}}" name="password"
                id="password">
        </div>
    </form>
</div>
{{/if}}