{{#if message}}
<div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>{{message.intro}}: </strong> {{message.message}}
</div>
{{/if}}
<div class="login-card">
    <div class="login-container">
        <div class="title-container">
            <h1>New password</h1>
        </div>
        <form class="login-form" method="post" action="/reset-password">
            <div class="form-group ">
                <label for="token" style="color:red" class="form-label">Token: </label>
                <input type="text" class="form-control" required name="token" id="token">
            </div>
            <div class="form-group">
                <label for="new_pass_1" class="form-label">New password</label>
                <input type="password" name="new_pass_1" required class="form-control" id="new_pass_1">
            </div>
            <div class="form-group">
                <label for="new_pass_2" class="form-label">Confirm new password</label>
                <input type="password" name="new_pass_2" required class="form-control" id="new_pass_2">
            </div>
            {{#if flash}}
            <div class="mb-3 " style="margin-top: 10px;">
                <input disabled style="background-color:#f8d7db; color:#83353d !important" type="text"
                    value="{{flash.message}}" class="form-control">
            </div>
            {{/if}}
            {{#if flash}}
            <div class="mb-3 " style="margin-top: 10px;">
                <input disabled style="background-color:#f8d7db; color:#83353d !important" type="text"
                    value="{{flash.message}}" class="form-control">
            </div>
            {{/if}}
            <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>