{{#if message}}
<div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>{{message.intro}}: </strong> {{message.message}}
</div>
{{/if}}
{{#if data}}
<div class="transaction-detail-container">
    <table class="transaction-table table table-striped">
        <thead>
            <tr>
                <th style="font-size: 25px" scope="row">Chi tiết giao dịch </th>
            </tr>
        </thead>
        <tbody>
            <td>
                <tr>
                    <th scope="row">Mã giao dịch</th>
                </tr>
                <tr>
                    <td scope="row">{{data._id}}</td>
                </tr>
            </td>
            <td>
                <tr>
                    <th scope="row">Tài khoản</th>
                </tr>
                <tr>
                    <td scope="row">{{data.username}}</td>
                </tr>
            </td>

            <td>
                <tr>
                    <th scope="row">Chủ tài khoản</th>
                </tr>
                <tr>
                    <td scope="row">{{data.fullname}}</td>
                </tr>
            </td>

            <td>
                <tr>
                    <th scope="row">Credit card</th>
                </tr>
                <tr>
                    <td scope="row">{{data.card_number}}</td>
                </tr>
            </td>

            <td>
                <tr>
                    <th scope="row">Số tiền giao dịch</th>
                </tr>
                <tr>
                    <td id="total" scope="row">{{data.total}}</td>
                </tr>
            </td>


            <td>
                <tr>
                    <th scope="row">Ngày giao dịch</th>
                </tr>
                <tr>
                    <td scope="row">{{data.date}}</td>
                </tr>
            </td>

            <td>
                <tr>
                    <th scope="row">Thời gian</th>
                </tr>
                <tr>
                    <td scope="row">{{data.time}}</td>
                </tr>
            </td>

            <td>
                <tr>
                    <th scope="row">Trạng thái</th>
                </tr>
                <tr>
                    <td scope="row">{{data.status}}</td>
                </tr>
            </td>



            <td style="text-align:end;">
                <a href="/user/history/recharge" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Go back</a>
            </td>
        </tbody>
    </table>

    <script src="/js/main.js"></script>
</div>
{{/if}}