<div class="history-detail-container">
    <table class="table history-table">
        <thead>
            <tr>
                <th scope="col">Mã thẻ</th>
                <th scope="col">Nhà mạng</th>
                <th scope="col">Tổng tiền </th>
                <th scope="col">Số lượng</th>
                <th scope="col">Ngày giao dịch</th>
                <th scope="col">Trạng thái giao dịch</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td class="btn btn-light">{{mobile_code}}</td>
                <td>{{network}}</td>
                <td class="total">{{total}}</td>
                <td class="total">{{quantity}}</td>
                <td>{{date}}</td>
                <td>
                    <input id="status" disabled class="history-status alert-success" role="alert" value="{{status}}" />
                </td>
                <td>
                    <a href="/user/history/mobile/{{mobile_code}}" class="btn btn-primary">Chi tiết</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="../../js/history.js"></script>
</div>